<div class="wrapper">
  <div
    class="page-header section-dark"
    style="background-image: url('assets/img/antoine-barres.jpg')"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <div class="angular-logo">
            <img src="assets/img/angular2-logo.png" alt="" />
          </div>
          <h1 class="presentation-title">Movie Ratings</h1>
          <div class="fog-low">
            <img src="assets/img/fog-low.png" alt="" />
          </div>
          <div class="fog-low right">
            <img src="assets/img/fog-low.png" alt="" />
          </div>
        </div>

        <h2 class="presentation-subtitle text-center">Data Wizards</h2>
      </div>

     
    </div>
    <div
      class="moving-clouds"
      style="background-image: url('assets/img/clouds.png')"
    ></div>
    
  </div>
  <br>
  <div style="display: flex; justify-content: center; align-items: center">
      <input type="text" placeholder="Enter your input here" style="font-size: 20px; padding: 10px; border-radius: 5px; border: 1px solid #ccc;" />
      <button style="font-size: 20px; padding: 10px 20px; border-radius: 5px; background-color: #656668; color: #fff; border: none;">View Rating</button>
    </div>
    
  
</div>
